<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="style4.css">
</head>

<body>
    <!-- Nav Bar -->
    <%- include('navbar') %>

        <!-- Video background -->
        <video autoplay muted loop id="myVideo">
            <source src="DarkBackgroundWeb.mp4" type="video/mp4">
        </video>
<div class="combined">
        <div class="img_hands">
            <img src="https://picsum.photos/id/281/570/560" alt="">
        </div>
        <div class="abt_first">
            <h1>About Us </h1>
            <p>Welcome to Unity Charity, a platform with a profound commitment to bringing positive change to the world.
                We believe that unity is the driving force behind transformative social impact. We have created a space
                where compassion, collaboration, and action converge to connect non-governmental organizations (NGOs)
                and dedicated individuals.</p>
                <h2>Our Vision</h2>
        <p>Our vision is a world where NGOs can reach their full potential in creating a better future, where people from all walks of life can unite and contribute to meaningful causes, and where the power of collective action brings about lasting change.</p>
        </div>
    </div>
</body>

</html>