<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="expend.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Nav Bar -->
    <%- include('navbar') %>

        <!-- Video background -->
        <video autoplay muted loop id="myVideo">
            <source src="DarkBackgroundWeb.mp4" type="video/mp4">
        </video>
        <h1 class="dm-h1">Images -</h1>

        <div class="dog_div">
            <div class="photodog">
                <img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/69254805/1/?bust=1697042184" alt="Photo 1">
            </div>
            <div class="photodog">
                <img src="https://i.pinimg.com/474x/6b/87/2e/6b872e1f876bd709a009f88a0f44b008.jpg" alt="Photo 2">
            </div>
            <div class="photodog">
                <img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/69495002/1/?bust=1698693195" alt="Photo 3">
            </div>
            <div class="photodog">
                <img src="https://s.turbifycdn.com/aah/gallerydirectart/robert-deyber-artist-signed-limited-edition-hand-crafted-stone-lithograph-top-dog-44.png" alt="Photo 4">
            </div>
            <div class="photodog">
                <img src="https://mychiandme.co.uk/cdn/shop/products/HD_Chester_EQ_16.jpg?v=1667924503" alt="Photo 5">
            </div>
            <div class="photodog">
                <img src="https://pyxis.nymag.com/v1/imgs/9d2/0fc/3a36758fee33d0b512ff22535845f0a253-GettyImages-1366985.rsquare.w400.jpg" alt="Photo 6">
            </div>
            <div class="photodog">
                <img src="https://www.vidaxl.co.uk/dw/image/v2/BFNS_PRD/on/demandware.static/-/Sites-vidaxl-catalog-master-sku/default/dw2292a703/hi-res/1/2/5144/413470/image_5_413470.jpg?sw=400" alt="Photo 7">
            </div>
            <div class="photodog">
                <img src="https://d2v8scmp16aryg.cloudfront.net/wysiwyg/parka.jpg" alt="Photo 8">
            </div>
            <div class="photodog">
                <img src="https://i.pinimg.com/474x/68/a2/55/68a255d5ec770af6d25649d14c259e79.jpg" alt="Photo 9">
            </div>
            <div class="photodog">
                <img src="https://www.handicappedpets.com/wp-content/uploads/2017/03/Noah-in-the-grass-400x400.jpg" alt="Photo 10">
            </div>
            <div class="photodog">
                <img src="https://mychiandme.co.uk/cdn/shop/products/Equa_tank_db306fff-4288-4012-b714-db9875e6b456.jpg?v=1667924392" alt="Photo 11">
            </div>
            <div class="photodog">
                <img src="https://www.thinkingoutsidethecage.org/wp-content/uploads/2023/11/27477745-400x400.jpg" alt="Photo 12">
            </div>
        </div>

        <div class="bills-dog">
            <h1 class="bill-dh1">Check Bills Here  <i class="fa fa-arrow-right dnt_icon" aria-hidden="true" style="color: white;"></i></h1>

            <a class="dbills-dwd" href="https://www.africau.edu/images/default/sample.pdf" download> Click Here to download Pdf <i class="fa fa-download dnt_icon" aria-hidden="true" style="color: white;"></i></a>
        </div>

        <!-- footer -->

        <%- include('footer') %>
</body>
</html>