<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unity Charity</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!-- Nav Bar -->
    <%- include('navbar') %>

        <!-- Video background -->
        <video autoplay muted loop id="myVideo">
            <source src="DarkBackgroundWeb.mp4" type="video/mp4">
        </video>

        <!-- Main div -->
        <div class="div_first">
            <h1 class="hover-underline-animation">Unity Charity</h1>
            <p>This is an online charity platform, connecting people in need with willing volunteers. It streamlines
                philanthropy, making it easy for users to request and offer assistance, fostering community support.</p>
        </div>

        <!-- Cards for What we do -->
        <div class="div_second">
            <h1>What We Do ?</h1>
            <div class="card_main">
                <div class="cardd">
                    <img src="https://picsum.photos/id/103/270/200" alt="">
                    <p>We connect People who need help with People who want to help.</p>
                </div>
                <div class="cardd">
                    <img src="https://picsum.photos/id/199/270/200" alt="">
                    <p>Plant trees, clean our surroundnings , feed stray animal.</p>
                </div>
                <div class="cardd">
                    <img src="https://picsum.photos/id/233/270/200" alt="">
                    <p>Gulabi aakhein jo teri dekhi gulaabi ye dil hogya.</p>
                </div>
            </div>
        </div>

        <!-- How We works -->
        <div class="div_third">
            <img src="https://picsum.photos/id/83/870/550" alt="">
            <div class="get_involved">
                <h1>Get Involved</h1>
                <p>Provide options for people to contribute, volunteer, or donate.</p>
            </div>
        </div>

        <!-- login button -->
        <div class="div_fourth">
            <h1>Be a part of us !</h1>
           <a href="/login"><button>LOGIN</button></a> 
        </div>

        <!--footer  -->
        <footer>
            <a href="#">
                <h3>Terms and conditions .....</h3>
            </a>
        </footer>
</body>

</html>