<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAvbar</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- NavBar -->
    <div class="nav_bar">
        <img class="logo-img" src="logo2.png" alt="">
        <ul class="nav_ul">
            <li><a href="/">Home
                <i class="fa fa-home dnt_icon" aria-hidden="true" style="color: white;"></i>
            </a>
                </li>
            <li><a href="/about">About
                <i class="fa fa-question-circle-o dnt_icon" aria-hidden="true" style="color: white;"></i>
            </a>
               </li>
            <li><a href="/login">Login<i class="fa fa-mouse-pointer dnt_icon" aria-hidden="true" style="color: white;"></i></a>
                </li>
            <li><a href="/donate">Donate<i class="fas fa-hand-holding-usd dnt_icon" aria-hidden="true" style="color: white;"></i></a></li>
        </ul>
    </div>
</body>
</html>