@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Montserrat&family=Roboto:wght@300&family=Sedgwick+Ave+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Sedgwick Ave Display', cursive; */
  color: white;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}
.logo-img{
  position:absolute;
  height: 3.7vw;
 padding-left: 3vw;
 top: 2vh;
}
.div_first {
  margin: auto;
  height: 40vh;
  position: relative;
  margin-top: 33vh;
  width: 70vw;
  text-align: center;
  margin-bottom: 27vh;
}

.div_first h1 {
  color: #fafbfc;
  font-size: 15vh;
  padding-bottom: 5vh;
}
.div_first h1:hover{
  color:#ff64df;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff64df;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.div_first p {
  padding-top: 2vh;
  font-size: 4vh;
}

.nav_bar {
  width: 100%;
  padding-top: 6vh;
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: black;
  height: 6vh;
}

.nav_bar ul {
  gap: 3vw;
  float: right;
  display: flex;
}

.nav_bar ul li {
 
  list-style: none;
}

.nav_ul li a {
 padding-right: 2vw;
  font-size: 2.4vh;
  text-decoration: none;
}

.nav_ul li a:hover {
  color: #ff64df;
  font-size: 3.1vh;
}

.div_second {
  position: relative;
  height: 60vh;
  /* background-color: brown; */
}

.card_main {
  display: flex;
  gap: 3vw;
  justify-content: space-around;
}

.cardd {
  width:20.6vw;
}
.div_second{
  margin-top:8vh;
  padding-bottom: 5vh;
}
.div_second h1{
font-size: 7vh;
padding-bottom: 7vh;
padding-left: 4vw;
position: relative;
}
.cardd p{
  padding-top: 3vh;
}
.div_third{
  display:flex;
  padding-top: 7vh;
}
.get_involved{
  margin: auto;
  text-align: right;
  width: 30vw;
  padding-top: 14vh;
}
.get_involved h1{
  font-size:9vh;
}
.get_involved p{
  font-size: 2.9vh;
}
.div_fourth{
  padding-top: 6vh;
  text-align: center;
  padding-bottom: 20vh;
}
.div_fourth h1{
  padding-top: 24vh;
  font-size: 9vh;
  padding-bottom: 3vh;
}
.div_fourth button{
  color:black;
  padding:2vh 5vh;
  font-size: 3vh;
  border: 2px solid #5bbbd0;
  border-radius: 3vh;
}
.div_fourth button:hover{
  background-color:#5bbbd0
}
footer{
  background-color: black;
  height:9vh;
  text-align: center;
}
footer h3{
  padding-top: 3vh;
}

.lat-cause{
  position: relative;
  
  padding-bottom: 6vh;

}

.div_four{
   padding-top: 7vh;
}
.dnt-btn{
  margin-left: 15vh;
}
.donate-btn{
  font-weight: bolder;
  font-size: 1.9vh;
  color: rgb(252, 252, 252);
  background-color: rgb(30, 159, 210);
  border:1px solid rgb(30, 147, 210);
  border-radius:20px;
  padding: 12px 18px;
}
.dnt_icon{
  padding-left: 3px;
}

.div_four .cardd{
  /* background-color: rgba(0,0,0,0.5);
   */
   box-shadow: 13px 13px 0px 0px  rgba(255, 255, 255, 0.115);
}

.div_fifth{
 display: flex;
  margin-top: 40vh;
  right: 0;
  flex-direction: row-reverse;
}
.div_fifth h1{
  padding-left: 7.5vw;
  font-size: 7vh;
padding-bottom: 3vh;

}
.mission-main{
  padding-top: 7vh;
  padding-left: 2vw;
}
.fiv-main-para{
  padding-bottom: 7vh;
}
.mission-list p{
  font-size: 2.5vh;
  padding-bottom: 2vh;
  /* color: bisque; */
  
}
.mission-list h2{
  font-size: 3vh;
  padding-bottom: 1vh;
}

.img1{
  height: 15rem;
  width:270px;
}
.img2{
  height: 560px;
  width:870px;
}